<html>
  <div id="loader"></div>
  <span>
<div id="menu" class="dropdown" style="display: none">
  <p> Select Company From Below </p>
  <select name="list" id="droplist" (change)="DisplayCard($event)" class="dp">
    <option value="ALL">ALL</option>
    <option value="AAPL">AAPL</option>
    <option value="MSFT">MSFT</option>
    <option value="IBN">IBN</option>
    <option value="V">V</option>
    <option value="HDB">HDB</option>
    <option value="PYPL">PYPL</option>
    <option value="TSLA">TSLA</option>
    <option value="FB">FB</option>
    <option value="AXP">AXP</option>
    <option value="KO">KO</option>
    <option value="BABA">BABA</option>
    <option value="VOD">VOD</option>
  </select>
  <br>
</div>
</span>
  <div id="main" class="main-division" style="display: none">
    <div id="AAPL" class="card">
        <div class="logo"><!--<img id="m1" src="" alt="LOGO">--><div id="box1" class="box"></div></div>
        <div class="name"><b><p id="n1"></p></b></div>
        
        <div class="PST">
          <div class="price">PRICE<p id="p1">X</p></div>
          <div class="size">SIZE<p id="s1">Y</p></div>
          <div class="tid">TRADE ID<p id="t1">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h1">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector1"></p></div>
        <div class="industry"><p id="industry1"></p></div>
        <div class="ceo"><p id="ceo1"></p></div>
        <div class="website"> <p> <span>WEBSITE : <a id="website1"></a></span></p></div>
        <div class="description"><p id="des1"></p></div>
    </div>
    <div id="MSFT" class="card">
        <div class="logo"><!--<img id="m2" src="" alt="LOGO">--><div id="box2" class="box"></div></div>
        <div class="name"><b><p id="n2"></p></b></div>
        
        <div class="PST">
          <div class="price">PRICE<p id="p2">X</p></div>
          <div class="size">SIZE<p id="s2">Y</p></div>
          <div class="tid">TRADE ID<p id="t2">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h2">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector2"></p></div>
        <div class="industry"><p id="industry2"></p></div>
        <div class="ceo"><p id="ceo2"></p></div>
        <div class="website"><p><span>WEBSITE : <a id="website2"></a></span></p></div>
        <div class="description"><p id="des2"></p></div>
    </div>
    <div id="IBN" class="card">
        <div id="m3" class="logo"><!--<img id="m3" src="" alt="LOGO">--><div id="box3" class="box"></div></div>
        <div class="name"><b><p id="n3"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p3">X</p></div>
            <div class="size">SIZE<p id="s3">Y</p></div>
            <div class="tid">TRADE ID<p id="t3">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h3">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector3"></p></div>
        <div class="industry"><p id="industry3"></p></div>
        <div class="ceo"><p id="ceo3"></p></div>
        <div class="website"><p><span>WEBSITE : <a id="website3"></a></span></p></div>
        <div class="description"><p id="des3"></p></div>
      </div>
    <div id="V" class="card">
        <div class="logo"><!--<img id="m4" src="" alt="LOGO">--><div id="box4" class="box"></div></div>
        <div class="name"><b><p id="n4"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p4">X</p></div>
            <div class="size">SIZE<p id="s4">Y</p></div>
            <div class="tid">TRADE ID<p id="t4">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h4">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector4"></p></div>
        <div class="industry"><p id="industry4"></p></div>
        <div class="ceo"><p id="ceo4"></p></div>
        <div class="website"><p><span>WEBSITE : <a id="website4"></a></span></p></div>
        <div class="description"><p id="des4"></p></div>
      </div>     
    <div id="HDB" class="card">
        <div class="logo"><!--<img id="m5" src="" alt="LOGO">--><div id="box5" class="box"></div></div>
        <div class="name"><b><p id="n5"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p5">X</p></div>
            <div class="size">SIZE<p id="s5">Y</p></div>
            <div class="tid">TRADE ID<p id="t5">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h5">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector5"></p></div>
        <div class="industry"><p id="industry5"></p></div>
        <div class="ceo"><p id="ceo5"></p></div>
        <div class="website"> <p> <span>WEBSITE : <a id="website5"></a></span></p></div>
        <div class="description"><p id="des5"></p></div>
      </div>
      <div id="PYPL" class="card">
          <div id="m6" class="logo"><!--<img id="m6" src="" alt="LOGO">--><div id="box6" class="box"></div></div>
          <div class="name"><b><p id="n6"></p></b></div>
          
          <div class="PST">
              <div class="price">PRICE<p id="p6">X</p></div>
              <div class="size">SIZE<p id="s6">Y</p></div>
              <div class="tid">TRADE ID<p id="t6">Z</p></div>
          </div>
          
          <div class="time">TIME<br><p id="h6">DD/MM/YYYY HH:MM:SS</p></div>
          <div class="sector"><p id="sector6"></p></div>
          <div class="industry"><p id="industry6"></p></div>
          <div class="ceo"><p id="ceo6"></p></div>
          <div class="website"> <p> <span>WEBSITE : <a id="website6"></a></span></p></div>
          <div class="description"><p id="des6"></p></div>
      </div>
      <div id="TSLA" class="card">
          <div class="logo"><!--<img id="m7" src="" alt="LOGO">--><div id="box7" class="box"></div></div>
          <div class="name"><b><p id="n7"></p></b></div>
          
          <div class="PST">
              <div class="price">PRICE<p id="p7">X</p></div>
              <div class="size">SIZE<p id="s7">Y</p></div>
              <div class="tid">TRADE ID<p id="t7">Z</p></div>
          </div>
          
          <div class="time">TIME<br><p id="h7">DD/MM/YYYY HH:MM:SS</p></div>
          <div class="sector"><p id="sector7"></p></div>
          <div class="industry"><p id="industry7"></p></div>
          <div class="ceo"><p id="ceo7"></p></div>
          <div class="website"> <p> <span>WEBSITE : <a id="website7"></a></span></p></div>
          <div class="description"><p id="des7"></p></div>
      </div>
      <div id="FB" class="card">
          <div class="logo"><!--<img id="m8" src="" alt="LOGO">--><div id="box8" class="box"></div></div>
          <div class="name"><b><p id="n8"></p></b></div>
          
          <div class="PST">
              <div class="price">PRICE<p id="p8">X</p></div>
              <div class="size">SIZE<p id="s8">Y</p></div>
              <div class="tid">TRADE ID<p id="t8">Z</p></div>
          </div>
          
          <div class="time">TIME<br><p id="h8">DD/MM/YYYY HH:MM:SS</p></div>
          <div class="sector"><p id="sector8"></p></div>
          <div class="industry"><p id="industry8"></p></div>
          <div class="ceo"><p id="ceo8"></p></div>
          <div class="website"> <p> <span>WEBSITE : <a id="website8"></a></span></p></div>
          <div class="description"><p id="des8"></p></div>
      </div>
        <div id="AXP" class="card">
            <div class="logo"><!--<img id="m9" src="" alt="LOGO">--><div id="box9" class="box"></div></div>
        <div class="name"><b><p id="n9"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p9">X</p></div>
            <div class="size">SIZE<p id="s9">Y</p></div>
            <div class="tid">TRADE ID<p id="t9">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h9">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector9"></p></div>
        <div class="industry"><p id="industry9"></p></div>
        <div class="ceo"><p id="ceo9"></p></div>
        <div class="website"> <p> <span>WEBSITE : <a id="website9"></a></span></p></div>
        <div class="description"><p id="des9"></p></div>
        </div>
        <div id="KO" class="card">
            <div id="m10" class="logo"><!--<img id="m10" src="" alt="LOGO">--><div id="box10" class="box"></div></div>
        <div class="name"><b><p id="n10"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p10">X</p></div>
            <div class="size">SIZE<p id="s10">Y</p></div>
            <div class="tid">TRADE ID<p id="t10">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h10">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector10"></p></div>
        <div class="industry"><p id="industry10"></p></div>
        <div class="ceo"><p id="ceo10"></p></div>
        <div class="website"> <p> <span>WEBSITE : <a id="website10"></a></span></p></div>
        <div class="description"><p id="des10"></p></div>
        </div>
        <div id="BABA" class="card">
            <div id=m11 class="logo"><!--<img id="m11" src="" alt="LOGO">--><div id="box11" class="box"></div></div>
        <div class="name"><b><p id="n11"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p11">X</p></div>
            <div class="size">SIZE<p id="s11">Y</p></div>
            <div class="tid">TRADE ID<p id="t11">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h11">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector11"></p></div>
        <div class="industry"><p id="industry11"></p></div>
        <div class="ceo"><p id="ceo11"></p></div>
        <div class="website"> <p> <span>WEBSITE : <a id="website11"></a></span></p></div>
        <div class="description"><p id="des11"></p></div>
        </div>     
        <div id="VOD" class="card">
            <div class="logo"><!--<img id="m12" src="" alt="LOGO">--><div id="box12" class="box"></div></div>
        <div class="name"><b><p id="n12"></p></b></div>
        
        <div class="PST">
            <div class="price">PRICE<p id="p12">X</p></div>
            <div class="size">SIZE<p id="s12">Y</p></div>
            <div class="tid">TRADE ID<p id="t12">Z</p></div>
        </div>
        
        <div class="time">TIME<br><p id="h12">DD/MM/YYYY HH:MM:SS</p></div>
        <div class="sector"><p id="sector12"></p></div>
        <div class="industry"><p id="industry12"></p></div>
        <div class="ceo"><p id="ceo12"></p></div>
        <div class="website"> <p> <span>WEBSITE : <a id="website12"></a></span></p></div>
        <div class="description"><p id="des12"></p></div>
        </div>
</div>
</html>

